<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2><a href="#" class="btn btn-success" (click)="showSuccess()">Toastr success</a></h2>
  <h2><a href="#" class="btn btn-info" (click)="showInfo()">Toastr success</a></h2>
  <h2><a href="#" class="btn btn-warning" (click)="showWarning()">Toastr success</a></h2>
  <h2><a href="#" class="btn btn-danger" (click)="showError()">Toastr success</a></h2>
</div>

<router-outlet></router-outlet>
